body {
    background-color: rgb(250, 142, 158);
}
#title2 {
    font: size 30px;
}

#title1 {

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 29px;
}
.FATASS {
    font-size: 33px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#title3 {
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#above1 {
    font-size: 25px;
}
#click1 {
    font: size 25px; ; font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#if1 {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}