body {
    background-color: #fa8e9e;
}

.place1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.final1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}